.labour {
  background-color: #CC0000; /*Alternative: #DC241f*/
  color: white;
}

.conservative {
  background-color: #0087DC;
  color: white;
}

.snp {
  background-color: #FDF38E;
  color: black;  
}

.liberaldemocrat, .libdem {
  background-color: #FAA61A;
  color: black;  
}

.ind {
  background-color: #DDDDDD;
  color: black;
}

.reform {
  background-color: #12B6CF;
  color: white;
}

.uup {
  background-color: #48A5EE;
  color: white;
}

.tuv {
  background-color: #0C3A6A;
  color: white;
}

.tig {
  background-color: white;
  color: black;  
}

.dup {
  background-color: darkred;
  color: white;  
}

.green {
  background-color: #6AB023;
  color: black;  
}

.plaidcymru {
  background-color: #008142;
  color: white;  
}

.sinnféin {
  background-color: #326760;
  color: white;  
}

.alliance {
  background-color: #F6CB2F;
  color: black;
}

.sdlp {
  background-color: #2AA82C;
  color: white;
}

.albaparty, .alba {
  background-color: #005EB8;
  color: white;
}

.speaker {
  background-color: black;
  color: white;
}
